@inject NavigationManager navManager
@implements IDisposable

<MudDrawer @bind-Open="DrawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2" Variant="@DrawerVariant.Mini">
    <MudNavMenu>
        @switch (navPath)
        {
            case "more":
            case string p when p.StartsWith("more/"):
                <MudText Typo="Typo.h6" Class="px-4">More</MudText>
                <MudDivider Class="my-2" />
                <MudNavLink Href="/more" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Settings">Settings</MudNavLink>
                <MudNavLink Href="/more/databaseTable" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Storage">Database Tables</MudNavLink>
                break;

            default:
                <MudText Typo="Typo.h6" Class="px-4">Home</MudText>
                <MudDivider Class="my-2" />
                <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
                <MudNavLink Href="/about" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Info">About</MudNavLink>
                break;
        }
    </MudNavMenu>
</MudDrawer>
<div>
    "@navPath"
</div>

@code
{
    [Parameter]
    public bool DrawerOpen { get; set; } = true;

    string navPath = string.Empty;

    protected override void OnInitialized()
    {
        SetNavePath();
        navManager.LocationChanged += LocationChanged;
        base.OnInitialized();
    }

    void LocationChanged(object? sender, LocationChangedEventArgs e)
    {
        SetNavePath();
        base.StateHasChanged();
    }

    void SetNavePath()
    {
        navPath = navManager.Uri.Substring(navManager.BaseUri.Length).ToLower();
    }

    void IDisposable.Dispose()
    {
        // Unsubscribe from the event when our component is disposed
        navManager.LocationChanged -= LocationChanged;
    }
}